.autocomplete {
  position: relative;
  margin: 0 auto 0 0;
  max-width: 290px;
  width: 100%;
}

.autocomplete__input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  max-width: inherit;
  width: 100%;
}

.loading-text {
  margin-top: 4px;
  font-size: 12px;
  color: gray;
}

.autocomplete__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.autocomplete__filter-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  font-size: 1.4rem;
  position: absolute;
  right: 7px;
  top: 5px;
}

.autocomplete__filter-dropdown {
  position: absolute;
  top: 100%;
  right: -25px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 4px;
}

.autocomplete__filter-dropdown label {
  font-size: 0.9rem;
  margin-bottom: 4px;
  cursor: pointer;
  color: #f88397;
  font-weight: 600;
}
.autocomplete__filter-dropdown label:last-child {
  margin-bottom: 0;
}

.autocomplete__radio-input {
  margin-right: 5px;
}

.autocomplete__input--selected {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.1rem;
  color: #f88397;
}
