.modal__button {
  margin-top: auto;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
  background: #f88397;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.modal__input {
  margin-top: 6px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

.modal__input:focus {
  outline: none;
  border-color: #f88397;
  box-shadow: 0 0 3px rgba(255, 182, 193, 0.5);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__button:hover {
  background: #f86780;
}

.modal__button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

.modal__secondary {
  max-width: 124px;
  min-height: 36px;
  border-radius: 6px;
  border: none;
  background-color: white;
  color: #f88397;
  font-weight: bold;
  cursor: pointer;
}

.modal__secondary:hover {
  color: #f86780;
}
