.profile {
  display: flex;
  /* flex-direction: row; */
  flex-grow: 1;
}

.profile__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 526px) {
  .profile {
    flex-direction: column;
    gap: 15px;
  }
}
