.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
}

.header__logo {
  font: 50px "Montserrat", Arial, sans-serif;
  color: #ffb6c1;
  margin: 0;
  font-weight: 700;
  line-height: 0.6;
}

.header__text {
  font: 10px "Montserrat", Arial, sans-serif;
  color: #ffb6c1;
}

.header__user-container {
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  color: #ffb6c1;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffb6c1;
  gap: 12px;
}

.header__avatar {
  width: 50px;
  height: 50px;
}
