.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  position: relative; /* stays in flow but can layer over content */
  z-index: 3; /* higher than spotlight */
  /* background: rgba(
    2,
    2,
    47,
    0.5
  ); semi-transparent so you see poster behind */
}

.header__logo {
  font: 50px "Montserrat", Arial, sans-serif;
  font-weight: 700;
  line-height: 0.6;
  margin-right: 48px;
}

.header__group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.header__btn {
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: 20px;
  max-width: 116px;
  min-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
}

.header__btn:hover {
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12px;
}

.header__auth-btn {
  margin: 0;
  max-width: 67px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}

@media screen and (max-width: 370px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .header__logo {
    line-height: 1;
  }
}
