.top-moods {
  text-align: center;
  display: flex;
}

.top-moods h2 {
  font-size: 20px;
  margin: 35px 0 16px 0;
  font-weight: 700;
}

.top-moods__empty {
  font-size: 20px;
  margin: 35px 0 16px 0;
  font-weight: 700;
}

.top-moods__cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.top-moods__tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background: #f2f2f2;
  cursor: default;
  transition: transform 0.2s;
}

.top-moods__tag:hover {
  transform: scale(1.1);
  background: #e0e0e0;
}
