.top-moods {
  text-align: center;
  display: flex;
}

.top-moods h2 {
  font-size: 20px;
  margin: 35px 0 16px 0;
  font-weight: 700;
  text-align: start;
}

.top-moods__empty {
  font-size: 20px;
  margin: 35px 0 16px 0;
  font-weight: 700;
}

.top-moods__cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem; /* space between words */
  max-width: 270px;
  margin: 1rem auto;
  text-align: center;
}

.top-moods__tag {
  display: inline-block;
  color: #444;
  font-weight: 600;
  cursor: default;
  transition: transform 0.2s ease, color 0.2s ease;

  /* Optional random rotations for cloud feel */
  transform: rotate(calc(var(--rand-rot, 0) * 1deg));
}

.top-moods__tag--main {
  font-size: 2.5rem !important; /* biggest tag */
}

/* Hover effect */
.top-moods__tag:hover {
  color: #ff4081 !important;
  transform: scale(1.2);
}
