.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 229px;
  width: 100%;
  min-height: 56px;
  margin: 23px 116px auto 0;
}

.sidebar__profile {
  display: flex;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  max-width: 157px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  margin: auto 0 auto 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.sidebar__button {
  background: transparent;
  width: auto;
  border: none;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  align-self: start;
  transition: transform 0.18s ease;
}

.sidebar__link {
  text-align: start;
}

.sidebar__link--active .sidebar__button {
  transform: scale(1.1);
}

@media screen and (max-width: 620px) {
  .sidebar {
    margin-top: 0;
  }
}
