.spotlights {
  width: 100%;
  padding-top: 0; /* header sits over top */
  margin-top: -100px; /* pull it up under header */
  box-sizing: border-box;
  position: relative; /* normal flow */
  z-index: 1; /* below header */
  opacity: 0.7;
}

.spotlight-slide {
  display: flex !important; /* slick slider adds display styles */
  justify-content: center;
}

.spotlight-title {
  font-size: 24px;
}

.spotlight__description-container {
  display: flex;
  flex-direction: column;
}

.spotlight-content {
  display: flex;
  align-items: center;
  width: 100vw; /* big poster width */
  max-width: 1200px;
  margin: 0;
  gap: 2rem;
}

.spotlight-description {
  flex: 0 0 35%; /* takes left side */
  color: #fff;
}

.spotlight-description h2 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
}

.spotlight-description p {
  margin: 0;
  font-size: 1.2rem;
}

/* Poster */
.spotlight-poster {
  width: 65vw; /* big poster on right */
  height: 400px;
  /* border-radius: 1.5rem; */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  right: -60px;
}

/* Overlay for fading edges */
.poster-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background:
    linear-gradient(
      90deg,
      rgba(2, 2, 47, 0.8) 0%,
      rgba(2, 2, 47, 0) 20%,
      rgba(2, 2, 47, 0) 80%,
      rgba(2, 2, 47, 0.8) 100%
    ),
    linear-gradient(
      180deg,
      rgba(2, 2, 47, 0.8) 0%,
      rgba(2, 2, 47, 0) 20%,
      rgba(2, 2, 47, 0) 80%,
      rgba(2, 2, 47, 0.8) 100%
    );
}

/* Slick slide focus/blur */
.slick-slide {
  opacity: 0.6;
  transform: scale(0.95);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.slick-center {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.spotlights .slick-prev {
  padding-left: 15px;
  z-index: 10;
}
.spotlights .slick-next {
  padding-right: 35px;
  z-index: 10;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .spotlight-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .spotlight-description {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .spotlight-poster {
    width: 90vw;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .spotlight-poster {
    height: 300px;
    margin-right: 120px;
  }
  .spotlight-title {
    text-align: center;
  }
  .spotlight-description h2 {
    font-size: 1.5rem;
    padding: 0 15px;
    overflow: hidden;
  }
  .spotlight-description p {
    font-size: 1rem;
  }
}
