.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #ffb6c1;
}

.footer__copyright {
  padding: 85px 0 24px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
